<footer class="border-t border-[#648558] leading-5 pb-3 text-[12px] pt-1" style="font-family:Roman,Siemreap;">
    <div class="w-full grid grid-cols-2 text-[#648558] font_siemreap">
        <div class="text-left">វិមានរដ្ឋាភិបាល តីរវិថីព្រះស៊ីសុវត្ថិ វត្តភ្នំ ភ្នំពេញ ព្រះរាជាណាចក្រកម្ពុជា</br>ទូរស័ព្ទ: (៨៥៥) ២៣ ៧២៤ ៤៧៧ ទូរសារ: (៨៥៥) ២៣ ៩៨១ ២៥៧</div>
        <div class="flex-1 text-end font-[Roman]">Government Palace, Sisowath Quay, Wat Phnom, Phnom Penh, Cambodia. Tel: (855) 23 724 477, Fax: (855) 23 981 257</div>
    </div>
</footer>