  <!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style rel='stylesheet' type='text/css'>
    @font-face {
        font-family: "Siemreap";
        src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "KhmerOSMuol";
        src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "Roman";
        src: url({#asset times_new_roman.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'Tacteing';
        src: url({#asset Tacteing.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'limons1l';
        src: url({#asset limons1l.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face{
        font-family: "Arial"
        src: url({#asset arial.ttf @encoding=dataURI})
        format('ttf');
    }

    .indent-paragraph{
        text-indent: 75px;
    }
    
    .keep-together{
        page-break-inside:avoid;
    }
    .indent-negative-padding {
        padding-left: 0px;
    }

    body {
        font-size: 16px;
        font-family: "Roman", "Siemreap";
    }
    /* FONT */
    .font_muol {
        font-family: "Roman", "KhmerOSMuol";
    }
    .font_siemreap {
        font-family: "Roman", "Siemreap";
    }
    .font_tacteing {
        font-family: "Tacteing";
    }
    .font_arail{
        font-family:"Arial", "Siemreap";
    }
    /* END FONT */

    /* FONT SIZE */
    .font-base {
        font-size: 16px;
    }
    
    .text-main {
        font-size: 14px;
    }
    .text-sm-base {
        font-size: 16px;
    }

    .text_xs_sm{
        font-size: 13px;
    }
    .text-xs {
        font-size: 11px;
    }
    /* END FONT SIZE */

    /* BULLET POINT */
    .width-bullet-point{
        width: 25px;
    }
    .format, .format p{
        margin-top:8px;
        text-indent:75px;
    } 
    .format * {
        text-indent:0px;
    }
    .format>ol, .format>ul {
        padding-left: 75px;
    }
    .format ol, .format ul{
        margin-bottom: 8px;
    }

    /* unorder list */
    .format>ul{
        margin-left:25px;
    }
    .format>ul>li:before {
        position: absolute;
        margin-left: -25px;
        margin-top: -3px;
        content: "-";   
    } 
    .format ul ul{
        padding-left: 50px;
        list-style-type: circle;
         
    }
    .format ul ul ul{
        list-style-type: disc;
    }
    /* end ul */

    /* start ol */

    .format ol {
        counter-reset: section;           
        list-style-type: none;
        /* list-style-type: decimal; */
        color: black;
    }
    .format ol>li{
        margin-left: 25px;
    }
    .format ol>li ol>li{
        margin-left: 40px;
    }
    .format ol>li ol>li ol>li{
        margin-left: 60px;
    }
    .format ol>li ol>li ol>li ol>li{
        margin-left: 80px;
    }
    
    .format ol>li:before {
        font-family: "limons1l";
        font-size: 28px;
        position: absolute;
        margin-left: -25px;
        margin-top: -1px;
        counter-increment: section;         
        content: counters(section, ">") ">"; 
    } 
    .format ol>li ol>li:before {
        margin-left: -40px;
        
    }
    .format ol>li ol>li ol>li:before {
        margin-left: -60px;
        
    }
    .format ol>li ol>li ol>li ol>li:before {
        margin-left: -80px;   
    }
    /* end ol */
    
    .format ul>li {
        word-break: break-word;
    }


    /* END BULLET POINT */

    .draft_watermark {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-image: url("{#asset /asset/images/draft-km.png @encoding=dataURI}"); 
    }
    </style>


    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-full h-full">
        <main class="leading-7 flex flex-col w-full">
            <div class="text-center bg-red-100">
                {{component "/components/header_three" title="My Report Title"}}
            </div>
        </main>
    </body>
</html>