  <!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=.0">
    <style rel='stylesheet' type='text/css'>
    @font-face {
        font-family: "Siemreap";
        src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "KhmerOSMuol";
        src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: "Roman";
        src: url({#asset times_new_roman.ttf  @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'Tacteing';
        src: url({#asset Tacteing.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face {
        font-family: 'limons1l';
        src: url({#asset limons1l.ttf @encoding=dataURI});
        format('ttf');
    }
    @font-face{
        font-family: "Arial"
        src: url({#asset arial.ttf @encoding=dataURI})
        format('ttf');
    }
    @font-face{
        font-family: "Wingdings 2"
        src: url({#asset Wingdings 2.ttf @encoding=dataURI})
        format('ttf');
    }

    .width-bullet-point{
        width: 25px;
    }

    .indent-paragraph{
        text-indent: 75px;
    }
    
    .keep-together{
        page-break-inside:avoid;
    }
    .indent-negative-padding {
        padding-left: 0px;
    }

    body {
        font-size: 16px;
        font-family: "Roman", "Siemreap";
    }
    /* FONT */
    .font_muol {
        font-family: "Roman", "KhmerOSMuol";
    }
    .font_siemreap {
        font-family: "Roman", "Siemreap";
    }
    .font_tacteing {
        font-family: "Tacteing";
    }
    .font_arail{
        font-family:"Arial", "Siemreap";
    }
    .font_symbol{
        font-family: "Wingdings 2",Tacteing;
    }
    /* END FONT */

    /* FONT SIZE */
    .font-base {
        font-size: 16px;
    }
    
    .text-main {
        font-size: 14px;
    }
    .text-sm-base {
        font-size: 10px;
    }

    .text_xs_sm{
        font-size: 13px;
    }
    .text-xs {
        font-size: 11px;
    }
    .text-xss{
        font-size: 5px;
    }
    /* END FONT SIZE */

    .font-weight-semibold{
        font-weight: 600;
    }

    table, thead, tbody, tr, th, td{
        border: 1px solid black;
    }
    .width-header{
        width: 24px;
        padding: 0 6px 0 6px;
    }
    .bg-header{
        background-color: #e5e7eb;
    }
    .bg-body-orange{
        background-color: #f59e0b;
        color: white;
    }
    .bg-body-blue{
       background-color: #3b82f6;
       color: white;
    }
    .bg-body-green{
       background-color: #059669;
       color: white;
    }
    .no-wrap{
        text-wrap: nowrap;
    }
    .text-align-right{
        text-align: right;
    }
    </style>
    
    <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body class="w-full">
        <main class="leading-7 flex flex-col w-full">
            {{!-- Letter header --}}
            {{!-- <div class="flex justify-between px-20 font_muol">
                <div class="flex justify-center pb-2">
                    <div class="mt-12 justify-center">
                        <p class="text-center leading-7 font_muol">ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                        <p class="text-center leading-7 font_muol">អគ្គលេខាធិការដ្ឋាននៃក.អ.ក.</p>
                    </div> 
                </div>
                <div class="flex">
                    <div>
                        <p class="text-center leading-7 font_muol">ព្រះរាជាណាចក្រកម្ពុជា</p>
                        <p class="text-center leading-7 font_muol">ជាតិ  សាសនា​​ ព្រះមហាក្សត្រ</p> 
                    </div>
                </div>
            </div> --}}

            {{!-- Company info --}}

            <div class="ml-[5px] mr-[10px]">

                {{!-- <p class="text-center font_muol">របាយការណ៍តាមដានការដាក់ពាក្យវិនិយោគ</p>
                <p class="text-center mb-2 font_muol">KAHNLAND TECHNOLOGY (CAMBODIA) CO., LTD.</p> --}}

                <table class="border border-black text-sm-base font_siemreap">
                    <thead class="border border-black font_siemreap">
                        <tr class="border border-black">
                            <th class="width-header border border-black" rowspan="3">ល.រ</th>
                            <th class="" rowspan="3">ជំហាន</th>
                            <th class="width-header no-wrap">ចាប់ផ្ដើម</th>
                            <th class="width-header no-wrap">បញ្ចប់</th>
                            <th class="width-header no-wrap">បច្ចុប្បន្នភាព</th>
                            <th class="width-header no-wrap">សរុប</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                            <th class="width-header bg-header no-wrap text-xss">07-08-24</th>
                        </tr>
                        <tr class="border border-black">
                            <th class="width-header text-sm-base no-wrap">07-08-24</th>
                            <th class="width-header text-sm-base no-wrap">07-08-24</th>
                            <th class="width-header text-sm-base no-wrap">07-08-24</th>
                            <th class="width-header text-align-right text-[#059669]">1</th>
                            <th class="width-header bg-header">01</th>
                            <th class="width-header bg-header">02</th>
                            <th class="width-header bg-header">03</th>
                            <th class="width-header bg-header">04</th>
                            <th class="width-header bg-header">05</th>
                            <th class="width-header bg-header">06</th>
                            <th class="width-header bg-header">07</th>
                            <th class="width-header bg-header">08</th>
                            <th class="width-header bg-header">09</th>
                            <th class="width-header bg-header">10</th>
                            <th class="width-header bg-header">11</th>
                            <th class="width-header bg-header">12</th>
                            <th class="width-header bg-header">13</th>
                            <th class="width-header bg-header">14</th>
                            <th class="width-header bg-header">15</th>
                            <th class="width-header bg-header">16</th>
                            <th class="width-header bg-header">17</th>
                            <th class="width-header bg-header">18</th>
                            <th class="width-header bg-header">19</th>
                            <th class="width-header bg-header">20</th>
                            <th class="width-header bg-header">21</th>
                            <th class="width-header bg-header">22</th>
                            <th class="width-header bg-header">23</th>
                            <th class="width-header bg-header">24</th>
                        </tr>
                        <tr class="border border-black">
                            <th class="width-header no-wrap bg-body-orange">បញ្ចូនត្រឡប់</th>
                            <th class="width-header no-wrap bg-body-blue">កែពាក្យសំុ</th>
                            <th class="width-header no-wrap bg-body-green">បញ្ចូនបន្ត</th>
                            <th class="width-header text-align-right text-[#059669]">17</th>
                            <th class="width-header bg-header">Web</th>
                            <th class="width-header bg-header">Thu</th>
                            <th class="width-header bg-header">Fri</th>
                            <th class="width-header bg-header">Mon</th>
                            <th class="width-header bg-header">Tue</th>
                            <th class="width-header bg-header">Web</th>
                            <th class="width-header bg-header">Thu</th>
                            <th class="width-header bg-header">Fri</th>
                            <th class="width-header bg-header">Mon</th>
                            <th class="width-header bg-header">Tue</th>
                            <th class="width-header bg-header">Web</th>
                            <th class="width-header bg-header">Thu</th>
                            <th class="width-header bg-header">Fri</th>
                            <th class="width-header bg-header">Mon</th>
                            <th class="width-header bg-header">Tue</th>
                            <th class="width-header bg-header">Web</th>
                            <th class="width-header bg-header">Thu</th>
                            <th class="width-header bg-header">Fri</th>
                            <th class="width-header bg-header">Mon</th>
                            <th class="width-header bg-header">Tue</th>
                            <th class="width-header bg-header">Web</th>
                            <th class="width-header bg-header">Thu</th>
                            <th class="width-header bg-header">Fri</th>  
                            <th class="width-header bg-header">Mon</th>
                        </tr>
                    </thead>

                    <tbody class="border border-black">
                        <tr class="border border-black">
                            <td class="text-center">1</td>
                            <td class="no-wrap font-semibold">ពាក្យស្នើសំុ</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">2</td>
                            <td class="width-header font-weight-semibold no-wrap">ពិនិត្យឋម</td>
                            <td class="width-header text-align-right">2</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td class="width-header text-align-right">5</td>
                            <td class="width-header text-align-right"></td>
                            <td class="width-header text-align-right"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">3</td>
                            <td class="font-weight-semibold no-wrap">ពិនិត្យលក្ខន្តិកៈ</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">1</td>
                            <td class="width-header text-align-right">1</td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td class=""></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">4</td>
                            <td class="font-weight-semibold no-wrap">ព្រាងបេសកកម្ម</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">1</td>
                            <td class="width-header text-align-right">1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">5</td>
                            <td class="font-weight-semibold no-wrap">ពិនិត្យលក្ខន្តិក</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">1</td>
                            <td class="width-header text-align-right">1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">6</td>
                            <td class="font-weight-semibold no-wrap">ពិនិត្យបេសកកម្ម</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bg-body-two"></td>
                            <td class="bg-body-two"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">7</td>
                            <td class="font-weight-semibold no-wrap">ពិនិត្យទីតាំង</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td class="width-header text-align-right">0</td>
                            <td class="width-header text-align-right">3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="bg-body-two"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {{!-- <tr class="border border-black">
                            <td class="text-center">8</td>
                            <td class="font-weight-semibold">ព្រាងរបាយការណ៍</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">9</td>
                            <td class="font-weight-semibold">អនុម័តបេសកកម្ម</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">10</td>
                            <td class="no-wrap font-weight-semibold">ពិនិត្យទីតាំង</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">11</td>
                            <td class="no-wrap font-weight-semibold">អនុម័តរបាយការណ៍</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">12</td>
                            <td class="no-wrap font-weight-semibold">ព្រាងលើកទឹកចិត្ត</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">13</td>
                            <td class="no-wrap font-weight-semibold">ស្នើលើកទឹកចិត្ត</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">14</td>
                            <td class="no-wrap font-weight-semibold">ពិនិត្យសំណើរលើកទឹកចិត្ត</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="border border-black">
                            <td class="text-center">15</td>
                            <td class="font-weight-semibold">ពិនិត្យមុនអនុម័ត</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr> 
                        <tr class="border border-black">
                            <td class="text-center">16</td>
                            <td class="font-weight-semibold">អនុម័តគម្រោង</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>  --}}
                    </tbody>
                </table>            
            </div>
        </main>
    </body>
</html>