:root{
    /*  */

    /* size */
    --indent-paragrah:75px;
    --text-bold: bold;
    --text-base:16px;
    --text-sm:13px;
    --text-xs:11px;
}


@font-face {
    font-family: "Siemreap";
    src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
    format('ttf');
}
@font-face {
    font-family: "KhmerOSMuol";
    src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
    format('ttf');
}
@font-face {
    font-family: "Roman";
    src: url({#asset times_new_roman.ttf  @encoding=dataURI});
    format('ttf');
}
@font-face {
    font-family: 'Tacteing';
    src: url({#asset Tacteing.ttf @encoding=dataURI});
    format('ttf');
}
@font-face {
    font-family: 'limons1l';
    src: url({#asset limons1l.ttf @encoding=dataURI});
    format('ttf');
}
@font-face{
    font-family: "Arial"
    src: url({#asset arial.ttf @encoding=dataURI})
    format('ttf');
}


/* START TEXT INDENT */
.indent-paragraph{
    text-indent: 75px;
}
.keep-together{
    page-break-inside:avoid;
}
.break-page-auto{
    page-break-inside:auto;
}
.indent-negative-padding {
    padding-left: 0px;
}
.width-bullet-point{
    width: 25px;
}
.indent-text-small {
    text-indent: -9px; 
}
.indent-text {
    text-indent: -25px; 
    padding-left: 25px;
}
/* END TEXT INDENT */


/* STYLE FONT */
.text-align-top{
    vertical-align: text-top;
}

text_distribution{
    word-spacing: -2px;
}
/* END STYLE FONT */


body {
    font-size: var(--text-base);
    font-family: "Roman", "Siemreap";
}
/* FONT */
.font_muol {
    font-family: "Roman", "KhmerOSMuol";
}
.font_siemreap {
    font-family: "Roman", "Siemreap";
}
.font_tacteing {
    font-family: "Tacteing";
}
.font_arail{
    font-family:"Arial", "Siemreap";
}
/* END FONT */

.letting_space{
    letter-spacing: 0.06vw;
}

/* FONT SIZE */
.font-base {
    font-size: var(--text-base);
}

.text-main {
    font-size: 14px;
}
.text-sm-base {
    font-size: var(--text-base)
}

.text_xs_sm{
    font-size: 13px;
}
.text-xs {
    font-size: 11px;
}
/* END FONT SIZE */
.text_color{
    color: #2F5D00;
}



/* BULLET POINT */
.width-bullet-point{
    width: 25px;
}
.format, .format p{
    margin-top:8px;
    text-indent:75px;
} 
.format * {
    text-indent:0px;
}
.format>ol, .format>ul {
    padding-left: 75px;
}
.format ol, .format ul{
    margin-bottom: 8px;
}

/* unorder list */
.format>ul{
    margin-left:25px;
}
.format>ul>li:before {
    position: absolute;
    margin-left: -25px;
    margin-top: -3px;
    content: "-";   
} 
.format ul ul{
    padding-left: 50px;
    list-style-type: circle;
        
}
.format ul ul ul{
    list-style-type: disc;
}
/* end ul */


/* start ol */
.format ol {
    counter-reset: section;           
    list-style-type: none;
    /* list-style-type: decimal; */
    color: black;
}
.format ol>li{
    margin-left: 25px;
}
.format ol>li ol>li{
    margin-left: 40px;
}
.format ol>li ol>li ol>li{
    margin-left: 60px;
}
.format ol>li ol>li ol>li ol>li{
    margin-left: 80px;
}

.format ol>li:before {
    font-family: "limons1l";
    font-size: 28px;
    position: absolute;
    margin-left: -25px;
    margin-top: -1px;
    counter-increment: section;         
    content: counters(section, ">") ">"; 
} 
.format ol>li ol>li:before {
    margin-left: -40px;
    
}
.format ol>li ol>li ol>li:before {
    margin-left: -60px;
    
}
.format ol>li ol>li ol>li ol>li:before {
    margin-left: -80px;   
}
/* end ol */


.format ol>li ul>li{
    margin-left: 40px;
    list-style-type: disc;
}
/* END BULLET POINT */


/* For Draft */
.draft_watermark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url("{#asset /asset/images/draft-km.png @encoding=dataURI}"); 
}

/* Application */
.underline-text{
    text-decoration: underline dashed;
    text-decoration-color: rgba(128, 128, 128, 0.7); /* gray with 50% opacity */
}

.margin_checkbox{
    margin-top: -6px;
}

.font_custom {
    font-family: {{#eq lng 'km'}}"KhmerOSMuol"{{else}}"Roman"{{/eq}};
}
.font_weight_custom {
    font-weight: {{#eq lng 'km'}}normal{{else}}bold{{/eq}};
}
.font_size_custom {
    font-size: {{#eq lng 'km'}}14px{{else}}14px{{/eq}};
}