<div class="flex flex-col w-fix font_muol text-base">
    <p class="text-center leading-7">ព្រះរាជាណាចក្រកម្ពុជា</p>
    <p class="text-center leading-7">ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
</div>
<div class="flex flex-1 justify-between px-12 font_muol relative">
    <div class="flex flex-col justify-items-center font-base">
        <p class="text-center leading-8">ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
        <p class="text-center leading-8">គណៈកម្មាធិការវិនិយោគកម្ពុជា</p>
        <p class="text-center leading-7 font_siemreap font-bold">គណៈកម្មការអន្តរក្រសួង ស្ថាប័ន</p>
        <p class="text-center leading-7 font_siemreap text_xs_sm">លេខៈ {{ letter_number }}</p>
    </div>

    <div class="flex mt-8 text_xs_sm font_siemreap absolute right-12 bottom-0">
        <div class="text-end mt-[55px]">
            <p class="text-end leading-6">{{issue_date_lunar}}</p>
            <p class="text-end leading-6">{{capical_city_of_cambodia}}, {{issue_date}}</p>
        </div>
    </div>
</div>