<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {{!-- import tailwind --}}
    <script type="text/javascript">
        {#asset tailwind-3.4.1.js}
    </script>

    {{!-- LINK STYLE MAIN-STYLE.CSS --}}
    <style rel='stylesheet' type='text/css'>
        :root{
            /*  */

            /* size */
            --indent-paragrah:75px;
            --text-bold: bold;
            --text-base:15px;
            --text-sm:13px;
            --text-xs:11px;
        }

        @font-face {
            font-family: "Siemreap";
            src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
            format('ttf');
        }
        @font-face {
            font-family: "KhmerOSMuol";
            src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
            format('ttf');
        }
        @font-face {
            font-family: "Roman";
            src: url({#asset times_new_roman.ttf  @encoding=dataURI});
            format('ttf');
        }
        @font-face {
            font-family: 'Tacteing';
            src: url({#asset Tacteing.ttf @encoding=dataURI});
            format('ttf');
        }
        @font-face {
            font-family: 'limons1l';
            src: url({#asset limons1l.ttf @encoding=dataURI});
            format('ttf');
        }
        @font-face{
            font-family: "Arial"
            src: url({#asset arial.ttf @encoding=dataURI})
            format('ttf');
        }


        /* START TEXT INDENT */
        .indent-paragraph{
            text-indent: 75px;
        }
        .keep-together{
            page-break-inside:avoid;
        }
        .break-page-auto{
            page-break-inside:auto;
        }
        .indent-negative-padding {
            padding-left: 0px;
        }
        .width-bullet-point{
            width: 25px;
        }
        .indent-text-small {
            text-indent: -9px; 
        }
        .indent-text {
            text-indent: -25px; 
            padding-left: 25px;
        }
        /* END TEXT INDENT */


        /* STYLE FONT */
        .text-align-top{
            vertical-align: text-top;
        }

        text_distribution{
            word-spacing: -2px;
        }
        /* END STYLE FONT */


        body {
            font-size: var(--text-base);
            font-family: "Roman", "Siemreap";
        }
        /* FONT */
        .font_muol {
            font-family: "KhmerOSMuol";
        }
        .font_siemreap {
            font-family: "Roman", "Siemreap";
        }
        .font_tacteing {
            font-family: "Tacteing";
        }
        .font_arail{
            font-family:"Arial", "Siemreap";
        }
        /* END FONT */

        .letting_space{
            letter-spacing: 0.06vw;
        }
        /* FONT SIZE */
        .font-base {
            font-size: var(--text-base);
        }

        .text-main {
            font-size: 14px;
        }
        .text-sm-base {
            font-size: var(--text-base)
        }

        .text_xs_sm{
            font-size: 13px;
        }
        .text-xs {
            font-size: 11px;
        }
        /* END FONT SIZE */
        .text_color{
            color: #2F5D00;
        }

        /* Application */
        .underline-text{
            text-decoration: underline dashed;
            text-decoration-color: rgba(128, 128, 128, 0.7); /* gray with 50% opacity */
        }

        .margin_checkbox{
            margin-top: -6px;
        }
    </style>

    </head>
    <body class="w-full text-justify">
        <main class="leading-6.5 flex flex-col w-full">
            <div class="flex flex-1 pl-[80px] pr-[65px] justify-between text_color relative">
                <div class="flex flex-col justify-items-center font_muol">
                    <img class="mx-auto w-[90px]" src="https://asset-pub.cdc.gov.kh/images/certificate/logo/CDC_logo_old_gold.png">
                    <p class="text-center leading-7 font-base">រាជរដ្ឋាភិបាល</p>
                    <p class="text-center leading-7">ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                    <p class="text-center leading-6">Council for the Development of Cambodia</p>
                    <p class="leading-6 text_xs_sm font_siemreap tracking-wide">លេខ ០០១៣/២៤ ក.អ.ក/គ.ឌ.ក.</p>
                </div>

                <div class="flex">
                    <div class="">
                        <div class="flex flex-col w-fix font_muol">
                            <p class="text-center leading-6 font-base">ព្រះរាជាណាចក្រកម្ពុជា</p>
                            <p class="text-center leading-6 font-base">Kingdom of Cambodia</p>
                            <p class="text-center leading-6 font-base">ជាតិ សាសនា ព្រះមហាក្សត្រ</p>
                            <p class="text-center leading-6 font-base italic">Nation- Religion- King</p>
                            <p class="text-center leading-6 text-[22px] font_tacteing">ujv</p>
                        </div>
                    </div>
                </div>
                <div class="text-end mt-[75px] text_xs_sm font-normal absolute right-[65px] bottom-0">
                    <p class="text-end leading-6">ថ្ងៃអង្គារ ១២ កើត ខែកត្តិក ឆ្នាំរោង ឆស័ក ពុទ្ធសករាជ ២៥៦៨</p>
                    <p class="text-end leading-6">ត្រូវនឹងថ្ងៃទី១២ ខែវិច្ឆិកា ឆ្នាំ២០២៤</p>
                </div>
            </div>
            
            <div class="ml-[80px] mr-[65px]">
                <div class="w-full">
                    <p class="text-center w-full font_muol text-sm-base">សូមជម្រាបជូន</p>
                    <p class="text-center w-full font_muol">សូមជម្រាបជូន</p>
                </div>

                <div class="w-full leading-[26px]">
                    <div class="flex mt-1">
                        <div class="flex w-[75px]">
                            <p class="font_muol">កម្មវត្ថុ</p>
                            <span>៖</span>
                        </div>
                        <div class="flex-1 text-left">
                            <p>សំណើអញ្ជើញចូលរួមពិធីសម្ពោធដាក់ឱ្យប្រើប្រាស់ជាផ្លូវការ ប្រព័ន្ធគ្រប់គ្រងគម្រោង វិនិយោគកម្ពុជា (ប្រព័ន្ធ cdcIPM) របស់ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា។ </p>
                        </div>
                    </div>
                    
                    {{!-- TEMPLATE CONTENT --}}
                    <p class="indent-paragraph mt-2">
                        សេចក្ដីដូចមានចែងក្នុងកម្មវត្ថុខាងលើ ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា (ក.អ.ក.) មានកិត្តិយសសូម គោរពជម្រាបជូន <span class="font_muol">ឯកឧត្តមទេសរដ្ឋមន្ដ្រី អនុប្រធានទី២ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</span> មេត្តាជ្រាប ថា៖ ក.អ.ក. បាននិងកំពុងខិតខំប្រឹងប្រែងទាក់ទាញអ្នកវិនិយោគឱ្យមកបណ្តាក់ទុននៅកម្ពុជាដើម្បីចូលរួម បង្កើតការងារជូនបងប្អូនប្រជាពលរដ្ឋ ជំរុញកំណើនសេដ្ឋកិច្ចជាតិ ឆ្ពោះទៅសម្រេចឱ្យបាននូវច់ក្ខុវិស័យ កម្ពុជា
                        ជាប្រទេសមានចំណូលខ្ពស់ត្រឹមឆ្នាំ២០៥០។
                    </p>

                    <p class="indent-paragraph mt-2">         
                        ក្នុងគោលបំណងជំរុញការអនុវត្តច្បាប់ស្ដីពីវិនិយោគនៃព្រះរាជាណាចក្រកម្ពុជា និងចូលរួមគាំទ្រ ការអនុវត្តយុទ្ធសាស្ត្របញ្ចកោណ ដំណាក់កាលទី១ ក.អ.ក. បានរៀបចំប្រព័ន្ធគ្រប់គ្រងគម្រោងវិនិយោគកម្ពុជា (CDC Investment Project Management ) ហៅកាត់ថា "ប្រព័ន្ធ cdcIPM” ដោយមានអនុលោមភាព ជាមួយនឹងអនុក្រឹត្យស្ដីពីការអនុវត្តច្បាប់ស្ដីពីវិនិយោគនៃព្រះរាជាណាចក្រកម្ពុជា។ ប្រព័ន្ធ cdcIPM នេះផ្តល់ លទ្ធភាពឱ្យវិនិយោគិនដាក់ពាក្យដោយផ្ទាល់ពីគ្រប់ទីកន្លែង និងគ្រប់ពេលវេលា ដើម្បីសម្រួលកិច្ចវិនិយោគឱ្យ កាន់តែមានភាពងាយស្រួល កាត់បន្ថយពេលវេលា ធានាបាននូវតម្លាភាព សុក្រឹតភាព និងប្រសិទ្ធភាព ព្រមទាំង ចូលរួមកសាងសេដ្ឋកិច្ច និងសង្គមឌីជីថល និងរដ្ឋាភិបាលឌីជីថលនៅកម្ពុជា ក្រោមការដឹកនាំប្រកបដោយចក្ខុវិស័យ វែងឆ្ងាយរបស់ <span class="font_muol">សម្តេចមហាបវរធិបតី <span class="text-[17px]">ហ៊ុន ម៉ាណែត</span> នាយករដ្ឋមន្ត្រី</span> <span class="font-bold">និងជាប្រធានក.អ.ក.</span>។
                    </p>

                    <p class="indent-paragraph mt-2">                                
                        អាស្រ័យហេតុនេះ ក.អ.ក. នឹងរៀបចំពិធីសម្ពោធដាក់ឱ្យប្រើប្រាស់ជាផ្លូវការប្រព័ន្ធ cdcIPM ក្រោម អធិបតីភាពដ៏ខ្ពង់ខ្ពស់ <span class="font_muol">ឯកឧត្ដម ស៊ុន ចាន់ថុល </span><span class="font-bold">ឧបនាយករដ្ឋមន្ត្រី អនុប្រធានទី១ ក.អ.ក.</span>  ដែលនឹងប្រព្រឹត្ត ទៅនាវេលាម៉ោង ៨:០០នាទីព្រឹក នៃថ្ងៃទី២៧ ខែវិច្ឆិកា ឆ្នាំ២០២៤ នៅសណ្ឋាគារ ហៃយ៉ាត់ រីជិនស៊ី ភ្នំពេញ។
                    </p>

                    <p class="indent-paragraph mt-2">                                
                        សេចក្តីដូចបានជម្រាបជូនខាងលើ សូម <span class="font_muol">ឯកឧត្តមទេសរដ្ឋមន្ត្រី អនុប្រធានទី២</span> មេត្តា អញ្ជើញចូលរួម ឬចាត់តំណាងចូលរួម ដោយក្តីអនុគ្រោះ។
                    </p>

                    <p class="indent-paragraph mt-2">                                
                        សូម <span class="font_muol">ឯកឧត្តមទេសរដ្ឋមន្តី អនុប្រធានទី២ក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា </span> មេត្តាទទួល នូវការគោរពដ៏ខ្ពង់ខ្ពស់អំពីខ្ញុំ៕
                    </p>
                    <div>
                        <div class="flex w-full justify-between justify-items-start mt-2">
                            <div class="mt-12">
                                <p class="text-xs italic leading-5">សូមបញ្ជាក់ការចូលរួម (RSVP)<br/>និងទាញយកឯកសារកម្មវិធី</p>
                                <img src="https://dev-osqr.cdcdigital.net/api/v1/qr?content=https%3A%2F%2Frsvp.cdc.gov.kh%2Fevents%2Fwhatever%2F00001-cdc-ipm-launching%2F1234567890&l=cdc" class="w-16 h-16"/>
                                    {{!-- {{/neq}}
                                {{else}}
                                    <div class="w-14 h-14"></div>
                                {{/if}} --}}
                            </div>
                            <div class="flex justify-end items-center">
                                <div class="flex flex-col items-center">
                                    <p class="text-center font_muol">អគ្គលេខាធិការ</p>
                                    <p class="text-center font_muol">អគ្គលេខាធិការដ្ឋានក្រុមប្រឹក្សាអភិវឌ្ឍន៍កម្ពុជា</p>
                                    <p class="text-center font_muol mt-[70px]">គង់ វិមាន</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>